ANTHROPIC_API_KEY=
DEEPGRAM_API_KEY=
REDIS_URL=redis://default:<password>@relation-squirrel-synchronous-95843.db.redis.io:12304
TOKEN_COMPANY_API_KEY=
ARIZE_SPACE_ID=U3BhY2U6NDcyNTg6Q2FpSw==
ARIZE_API_KEY=
PORT=3001
FRONTEND_URL=http://localhost:3000
DEMO_PATIENT_ID=demo-sarah-chen-ra
